# Foundations of Data Science
## Homework 2

Student Name: Rahul Purushottam Gaonkar

Student Netid: rpg283
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include aspects of the Data Science Workflow that you see as relevant to solving the problem.  Be precise but concise.

Ans: 

Problem: Target's problem was that due to the ingrained shopping habits of different shoppers they didn't buy all the different products sold by target thereby affecting the target's sales.

Goal: To market different products using specially designed ads and coupons just before a major life event of the consumer where they tend to change their shopping habits i.e. one of the major life event is getting pregnant.

Data: Target had bought a lot of demographic data of the consumers as well as was tracking all the user activity & eating habits data using the Guest-ID given to its shoppers.25 different products like lotions, supplements, scent-free soaps, sanitizers,etc were analyzed to assign each shopper a pregnancy prediction score.Since the data is attached to the Guest ID number, Target knows how to trigger consumer's habits by sending different ads and coupons.

Impact: Model could predict a list of tens of thousands of women who were most likely pregnant from the Target’s national database. Between 2002 and 2010, Target’s revenues grew from 44 billion dollars to 67 billion dollars.

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"data/advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int` (continuous), `int` (continuous), `string`, and `int` (category) respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  Recall that once you enter the "!" then filename completion should work.]

1\. How many records (lines) are in this file?

In [1]:
# Lines in the file are 10341 
!wc -l data/advertising_events.csv

10341 data/advertising_events.csv

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [2]:
# Unique users in the file are 732 
!cut -d "," -f 1 data/advertising_events.csv|sort|uniq|wc -l

732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [3]:
!cut -d "," -f 3 data/advertising_events.csv|sort|uniq -c|sort -r -k 1,1|nl

     1	   3114 google.com
     2	   2092 facebook.com
     3	   1036 youtube.com
     4	   1034 yahoo.com
     5	   1022 baidu.com
     6	    513 wikipedia.org
     7	    511 amazon.com
     8	    382 qq.com
     9	    321 twitter.com
    10	    316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [4]:
!grep -E "^37," data/advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically

In [5]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"datasets/ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [6]:
ads = pd.read_csv("datasets/ads_dataset.tsv", sep="\t")

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [7]:
def getDfSummary(input_data):
    output_data = input_data.describe(include='all').T
    del output_data['count']
    output_data['number_nan'] = input_data.isnull().sum()
    output_data['number_distinct'] = input_data.nunique()
    return output_data

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [8]:
# Time taken for the function to work on ads data frame is 170 ms ± 13.3 ms per loop (mean ± std. dev. of 7 runs, 10 loops each) 
%timeit getDfSummary(ads)

74.6 ms ± 802 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [9]:
# Field buy_freq contains missing NaN values 
ads_stats = getDfSummary(ads)
ads_stats['number_nan']

isbuyer                    0
buy_freq               52257
visit_freq                 0
buy_interval               0
sv_interval                0
expected_time_buy          0
expected_time_visit        0
last_buy                   0
last_visit                 0
multiple_buy               0
multiple_visit             0
uniq_urls                  0
num_checkins               0
y_buy                      0
Name: number_nan, dtype: int64

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? What would be an appropriate method for filling in missing values?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [10]:
# From the fields with missing values,it is evident that data is not missing at random.
# Fields like isbuyer, buy_interval, expected_time_buy, multiple_buy correlate with the missing data as the value of the statistics calculated for these fields is 0 for missing value records.
# Replacing missing values with mean, median and mode values and replacing missing values using regression and likelihood estimation are the different appropriate ways of filling in missing values
missing_value_df = ads[pd.isnull(ads['buy_freq'])]
missing_value_df_stats = getDfSummary(missing_value_df)
missing_value_df_stats

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
buy_freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52257,0
visit_freq,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000,0,48
buy_interval,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
sv_interval,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670,0,5112
expected_time_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
expected_time_visit,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192,0,13351
last_buy,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
last_visit,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
multiple_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
multiple_visit,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000,0,4570
y_buy,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000,0,2

6\. Which variables are binary?

In [11]:
# There are 4 binary variables in the ADS dataframe namely isbuyer, multiple_buy, multiple_visit, y_buy since they all have 2 distinct values.      
ads_stats[ads_stats['number_distinct']==2]

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.042632,0.202027,0.0,0.0,0.0,0.0,1.0,0,2
multiple_buy,0.006357,0.079479,0.0,0.0,0.0,0.0,1.0,0,2
multiple_visit,0.277444,0.447742,0.0,0.0,0.0,1.0,1.0,0,2
y_buy,0.004635,0.067924,0.0,0.0,0.0,0.0,1.0,0,2